body {
    background-image: url("otonoke.png");
    background-color: #cccccc;
    background-size: cover;
    justify-content: center;
}

.header{
    position: relative;
    text-align: center;
    font-family: arial;
    background-color: white;
    margin: auto;
    width: fit-content;
    border-radius: 5px;
}

#map{
    justify-content: center;
    margin: 25px;
    height: 454px;
    width: 604px;
    margin: 0 auto;
}