*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'arial';
}

.header-inner-content{
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.navbar{
  background-color: #2c2c2c;
  padding: 1rem;
  position: sticky;
  top: 0;
  box-shadow: 10px 0px 10px #2c2c2c;
  z-index: 99;
}

.navbar>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  color: blueviolet;
}

.logo span{
  color: #fff;
}

nav ul{
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-icons-container{
  display: flex;
  align-items: center;
}

.nav-icons-container img{
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.nav-icons-container img:first-child{
  margin-right: 1rem;
}

nav ul li{
  color: #fff;
  margin-right: 1.5rem;
  cursor: pointer;
}

nav ul li:hover{
  transform: translateY(-5px);
  transition: all 0.2s;
  font-weight: bold;
}

header{
  background-image: radial-gradient(#fff, #c7c7c7);
}

.header-bottom-side{
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 1rem;
}

.Text-Left{
  height: 100%;
  flex-basis: 50%;
}

.Text-Left h2{
  font-size: 6.4rem;
  margin-bottom: 1rem;
}

.Text-Left p{
  line-height: 15%;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.Text-Left button{
  background-color: rgb(164, 94, 230);
  border: none;
  cursor: pointer;
  border-radius: 99px;
  width: 115px;
  height: 45px;
}

.Text-Left button:hover{
  transform: translateX(3px);
  background-color: rgb(181, 134, 226);
  transition: all 0.3s;
}

.Phone-Image{
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-img{
  width: 550px;
  height: 550px;
}

.wrapper{
  display: flex;
  padding: 15px 25px;

  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(images/bundo.jpg);
  background-position: center;
  background-size: cover;
}

.collapsible{
  max-width: 500px;
  padding: 3%;
  overflow: hidden;
  font-weight: 500;
}

.collapsible input{
  display: none;
}

.collapsible label{
  position: relative;
  font-weight: 600;
  background: #FFF;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 11px 0 rgba(0, 0, 0, 0.08);
  color: #1c1c6b;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  z-index: 1;
}

.collapsible label:after{
  content: "";
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  height: 18px;
  background: url(images/25610.png) no-repeat 0 0;
  transition: all 0.4s ease;
}

.collapsible input:checked + label:after{
  transform: rotate(90deg);
}

.collapsible-text{
  max-height: 1px;
  overflow: hidden;
  border-radius: 4px;
  line-height: 1.4;
  position: relative;
  top: -100%;
  opacity: 0.5;
  transition: all 0.4s ease;
}

.collapsible input:checked ~ .collapsible-text{
  max-height: 400px;
  padding-bottom: 25px;
  background: #fff;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 11px 0 rgba(0, 0, 0, 0.08);
  opacity: 1;
  top: 0;
}

.collapsible-text h2{
  margin-bottom: 10px;
  padding: 15px 15px 0;
  color: #1c1c6b;
}

.collapsible-text p{
  padding-left: 15px;
  padding-right: 15px;
  color: #1c1c6b;
}

.footer{
  padding: 5px;
  margin: 5px;
  background-color: whitesmoke;
  font-size: 10px;
}